.root{
    -fx-background-color: #0d0d0d;
}


.label{
    -fx-font-family: Consolas;
    -fx-text-fill: white;
}
#copyright{
    -fx-font-family: Consolas;
    -fx-text-fill: #d96261;
}

.text-field{
    -fx-background-color: #cbe3e4;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-family: Consolas;

}

.text-field:hover{
    -fx-background-color: #bbdbdd;
}

.button{
    -fx-background-color: #99c8cc;
}

.button:hover{
    -fx-background-color: #89c0c2;
}

.button:pressed{
    -fx-background-color: #9ac9cb;
}


#myTree{
    -fx-background-color: #082032;
    -fx-text-fill: white;
}

.menu-item{
    -fx-text-fill: black;
}

.choice-box {
       -fx-background-color: black;
       -fx-mark-color: #78b7ba;
}

.choice-box > .label {
       -fx-text-fill: black;
        -fx-background-color: #cbe3e4;
}

#scegliPagina{
       -fx-background-color: #112122;
}

#currentButton{
       -fx-background-color: #458487;
}
#currentButton:hover{
    -fx-background-color: #4e9697;
}

#floppyDisk:pressed{
    -fx-opacity: 0.7;
}

#logMessage{
    -fx-text-fill: #112122;
}

#backgroundFinestrina{
    -fx-background-color: #88bfc3;
}



